# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tests/test_hello
tests/test_pt2pt
tests/test_allreduce
tests/test_allreduce_ring
tests/test_allreduce_tree
tests/test_alltoall
tests/test_bcast
tests/test_reduce
tests/test_scatter_gather
tests/test_self
tests/test_wtime
.vscode/
hostfile
mpirun